body{
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("Untitled.png");
    background-color: aqua;
    background-repeat: repeat;
}
.artic{
    border: 10px solid white;
    background-color: white;
}
.title{
    /* border: 4px solid  #A8F0F0; */
    background-color:  #A8F0F0;
    text-align: right;
}
.freshness{
    /* border: 4px solid orange; */
    font-size: 14pt;
}
.date{
    border-bottom: 2px dashed blue;
}
.content{
    border: 4px solid #C2E9E9;
    background-color: #E8FBFB;
    padding: 5px;
    margin: 10px 0 0 0;
    overflow: hidden;
}
img{
    float: right;
}